 /*css reset*/
div,h1,li,ul,ol,span,a,img{margin:0;padding: 0;}
a{text-decoration:none;color:#2bcbf8;}
ul,li{list-style: none;}
body{
    width: 100%;
    height: 100%;

    background:#031b39 url(http://image.tianjimedia.com/uploadImages/2012/303/6460UZAU2234.jpg) no-repeat;
    background-size: cover;
}
#mainTxt{display:none;}

.centerBox{
  margin-top: 80px;
  text-align: center;
}
.makeCenter{
  display:inline-block;

}
 #titleTxt{
     display: inline;
     cursor: default;
 }
#titleTxt ol{
    list-style: none;
    text-align: justify;
    display: inline;
    float: left;
}
 #turnBack{
     position: absolute;
 }
 /*清除li样式*/
#titleTxt ol li{
    list-style: none;
    float: left;

}
/*选择第二个li*/
 #titleTxt ol li:nth-child(2){
     width:90px;
     cursor: pointer;
     transition: 2s ease 0.2s;
     transform-style:preserve-3d;
     backface-visibility:hidden;
     position: relative;

 }
 /*触发字母O的hover效果*/
 #titleTxt ol li:nth-child(2):hover{
     transform:rotateY(180deg);
 }

/*头像*/
 #oPic{
     padding-top: 15px;
     position: absolute;
     width:90px;
     height:90px;
     backface-visibility:hidden;
     transform:rotateY(180deg);
 }

/*四个字母的文字样式*/
 .yrok{
     font:120px Adobe Caslon Pro;
     color:#2bcbf8;
     margin:0;
     padding:0;
 }
/*清除浮动*/
 .clearfix:after{
     content:".";
     display:block;
     clear:both;
     height:0;
     overflow:hidden;
     visibility:hidden;
 }
 /*占位符*/
.holder{
  visibility: hidden;
}
 .pBox{
   text-align: center;
 }
#underTxt{
    margin: 0 atuo 10px atuo;
    padding-bottom: 10px;
    width: 40%;
    font-size: 1em;
    color:#018ab0;
    border-bottom: 1px solid white;
    display:inline-block;
}
 /*对outputtxt进行居中*/
#outPut{
    text-align: center;
}

#outputTxt{
    margin-top: 15px;
    padding: 10px;
    border:1px solid white;
    display: inline-block;
    border-radius:5px;
    font-size: 20px;
    color: #2bcbf8;

}
#outputTxt:hover{
    background-color: rgba(3,27,57,0.5);
}
/*格子*/
/*动作之后，display:flex;*/
#gridBox{
    margin-top: 25px;

    display: none;
    flex-flow:row nowrap;
    Justify-content:center;

}
.gd{
    margin: 0 20px;
    width:10em;
    height: 11em;
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #2bcbf8;
}
.gd:hover{
    background-color: rgba(3,27,57,0.5);
    border-color: #018ab0;
}
.gd p{
    font-weight:bold;
}
/*链接hover*/
a:hover{
    text-decoration:underline;
    color: blue;
}
